
__pycache__/Statistics.cpython-36.pyc
__pycache__/randomGenerator.cpython-36.pyc
__pycache__/Excel.cpython-36.pyc
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/Diploma.iml
